body{
    background-image: url(bgimage.jpg) ;
    background-position: center;
    background-size: 100%;
    background-size: cover;
}
h1{
    text-align: center;
    background-color: rgb(139, 199, 179);
    color: blue;
}
p{
    width: 60%;
    border: 2px solid black;
    border-radius: 4%;
    font-size: xx-large;
    background-color: rgb(92, 110, 104);
    font-style: oblique;
    flex-direction: column-reverse;

}
span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: chocolate;
    border: 2px solid pink;
}